canvas {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border-color: red;
    border-style: solid;
}

body {
    margin: 0px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;

}

h1 {
    color: white;
}

html {
    margin: 0px;
}